<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>AppName</title>
    <link href="./components/topcoat/release/css/css-file" rel="stylesheet">
</head>

<body>

<div class="topcoat-navigation-bar">
   <div class="topcoat-navigation-bar__item left quarter">
       <a class="topcoat-icon-button--quiet">
         <span class="topcoat-icon topcoat-icon--menu-stack"></span>
       </a>
   </div>
   <div class="topcoat-navigation-bar__item center half">
       <h1 class="topcoat-navigation-bar__title">AppName</h1>
   </div>
   <div class="topcoat-navigation-bar__item right quarter">
       <a class="topcoat-icon-button--quiet">
         <span class="topcoat-icon topcoat-icon--edit"></span>
       </a>
   </div>
</div>

<div class="topcoat-list__container">
	<h3 class="topcoat-list__header">Header</h3>
	<ul class="topcoat-list">
		<li class="topcoat-list__item--first">Item</li>
		<li class="topcoat-list__item">Item</li>
		<li class="topcoat-list__item">Item</li>
		<li class="topcoat-list__item">
			<button class="topcoat-button--large--cta">Awesome</button>
		</li>
	</ul>
</div>

</body>
</html>